@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

.project-link {
  @apply hover:underline transition-colors duration-200;
}

.year {
  @apply text-neutral-500 ml-auto pl-4;
}

.section-title {
  @apply text-sm uppercase tracking-wider text-neutral-500 w-32 shrink-0;
}

.content {
  @apply flex-1;
}

